<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1 {font-family: "Raleway", Arial, sans-serif}
        h1 {letter-spacing: 6px}
        .w3-row-padding img {margin-bottom: 12px}
    </style>
</head>
<body>
<a th:text="#{lang.eng}" href="?lang=en"> </a>
<a th:text="#{lang.nl}" href="?lang=nl"> </a>
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
        <h1 class="w3-xlarge">Project 2019-2020</h1>
        <h1>Eline Schepers</h1>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a th:text="#{tasks}" th:href="@{/task}" class="w3-bar-item w3-button"></a>
                <a th:text="#{createtask}" th:href="@{/task/new}" class="w3-bar-item w3-button w3-light-grey"></a>
            </div>
        </div>
    </header>
</div>
<form  action="#" th:action="@{/task/newSubtask/{id}(id=${taskId})}" th:object="${subtask}" method="post" style="text-align: center">
    <label for="name">name:</label><br>
    <input type="text" th:field="*{name}" id="name" name="name"><br>

    <label for="description">description:</label><br>
    <input type="text" th:field="*{description}" id="description" name="description"><br>

    <input type="submit" value="submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js
">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('/?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>